<div class="accordion active">
    <h4>DO I NEED A PRESCRIPTION FROM MY DOCTOR?</h4>
</div>
<div class="panel" style="max-height: 700px;">
    <p>No. Doctors can’t actually prescribe cannabis in the US, but they do need to certify that you have one of the Debilitating Medical Conditions. A doctor will need to fill out the <a href="{{ site.github.url }}/documents/Physician-Certification.pdf" target="_blank">Physician Certification Form</a> and send it, themselves, to the State.</p>
</div>

<div class="accordion">
    <h4>I HAVE A CONDITION THAT’S NOT ON THE LIST, BUT MY DOCTOR THINKS MEDICAL CANNABIS WOULD HELP. CAN I STILL QUALIFY?</h4>
</div>
<div class="panel">
    <p>Unfortunately, no. Only people with one or more of the approved conditions can qualify. However, there is a process to petition the State to add conditions. The application to add a Condition is at the bottom of the <a href="{{ site.github.url }}/forms" target="_blank">Forms</a> page.</p>
</div>

<div class="accordion">
    <h4>CAN SOMEONE UNDER 18 QUALIFY?</h4>
</div>
<div class="panel">
    <p>Yes, but there is a different application form that the patient’s legal guardian must fill out. Also in addition to the doctor’s recommendation form, a second doctor must fill out a reviewing doctor’s certification form.</p>
</div>

<div class="accordion">
    <h4>IF MY DOCTOR WON’T SIGN OFF ON MY FORM, CAN’T I JUST GO TO A “WEED DOCTOR” WHO WILL?</h4>
</div>
<div class="panel">
    <p>Other states may have doctors who offer services that cater to patients specificallyseeking to use medical cannabis, but the laws In Illinois prevent that here. You have to be in a doctor’s “continuing care”. However, you are free to have multiple doctors and only one of them would need to agree to sign off on allowing you access to cannabis treatment. If you are having difficulty finding a doctor, please contact us.</p>
</div>

<div class="accordion">
    <h4>CAN I USE MY MEDICAL CANNABIS CARD FROM ANOTHER STATE?</h4>
</div>
<div class="panel">
    <p>No. Illinois does not offer reciprocity with any other medical cannabis programs.</p>
</div>

<div class="accordion">
    <h4>CAN I GROW MY OWN CANNABIS?</h4>
</div>
<div class="panel">
    <p>No. Illinois does not allow any persons to grow cannabis. Only the licensed Cultivation Centers can grow.</p>
</div>

<div class="accordion">
    <h4>WHERE CAN I PURCHASE MEDICAL CANNABIS?</h4>
</div>
<div class="panel">
    <p>Patients may only purchase at state-licensed dispensaries. In addition, patients have to be registered at one dispensary at a time, but can change dispensaries as often as they like and are not charged to do so. Each change takes 1-2 business days. The dispensary selection form to change dispensaries can be found at our <a href="{{ site.github.url }}/forms" target="_blank">Forms</a> page.</p>
</div>

<div class="accordion">
    <h4>HOW MUCH MEDICAL CANNABIS CAN I PURCHASE?</h4>
</div>
<div class="panel">
    <p>By default, patients are allowed to purchase up to 2.5 oz. of cannabis in any 2-week period. However, physicians are allowed to recommend a higher allowance – we have seen patients with twice, and sometimes triple, the regular allowance.</p>

    <p>Even if a patient is originally allowed only 2.5oz, a physician may increase this amount by resubmitting a portion of the Physician Certification Form without any additional fees to the patient.</p>
</div>

<div class="accordion">
    <h4>WHERE CAN I LEGALLY USE MEDICAL CANNABIS?</h4>
</div>
<div class="panel">
    <p>You can only medicate in private. Patients cannot use cannabis in:</p>

    <p>
        <ul>
            <li>Any public place, including anywhere other people can see.</li>
            <li>Any government building</li>
            <li>Any school or daycare or school bus</li>
        </ul>
    </p>
</div>

<div class="accordion">
    <h4>WHAT ABOUT IN MY CAR?</h4>
</div>
<div class="panel">
    <p>No. You can’t use cannabis in your car or operate a motor vehicle, aircraft or boat while under the influence. Patients can possess cannabis in their car, as long as it is in a sealed, tamper-evident container.</p>
</div>

<div class="accordion">
    <h4>CAN I GIVE SOMEONE CANNABIS IF THEY’RE A PATIENT TOO?</h4>
</div>
<div class="panel">
    <p>No. You can’t give or sell anyone else cannabis, even if they are a registered patient.</p>
</div>

<div class="accordion">
    <h4>DOES ILLINOIS ALLOW CAREGIVERS?</h4>
</div>
<div class="panel">
    <p>Yes. In Illinois, patients can designate a caregiver to purchase cannabis products on their behalf. Patients may only have one designated caregiver at any time and caregivers may only serve one patient at any time. Requirements for caregivers are that the must:</p>

    <p>
        <ul>
            <li>be at least 21 years old</li>
            <li>be a resident of Illinois</li>
            <li>not have been convicted of an excluded offense</li>
        </ul>
    </p>

    <p>Caregivers have to apply for registration with the Department of Public Heath. It’s a separate form, and it’s on our <a href="{{ site.github.url }}/forms" target="_blank">Forms</a> page.</p>
</div>