<form action="https://formspree.io/info@chicagocannabis.org" method="POST">
  <input type="text" name="_name" placeholder="Name">
  <input type="email" name="_replyto" placeholder="Email Address">
 <!-- <input type="text" name="_comments" placeholder="Comments. Please.">-->
  <textarea name="_comments" cols="40" rows="5" placeholder="Comments. Please."></textarea>
  <input type="hidden" name="_subject" value="New submission!" />
  <input type="hidden" name="_next" value="{{ site.github.url }}" />
  <input type="text" name="_gotcha" style="display:none" />
  <br/>
  <input type="submit" value="Send">
</form>
