ol {
  margin-bottom: 1em;
}

#youtube-player {
  position: relative;
  padding-bottom: 52%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

#youtube-player h2 {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#youtube-player p {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#youtube-player img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

#youtube-player .play {
  position: absolute;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 60%;
  margin-left: -36px;
  margin-top: -36px;
  background: url("images/play-button.png") no-repeat;
  background-size: 100%;
  cursor: pointer;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

#youtube-player .play:hover {
  -webkit-filter: brightness(100%);
}

#youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 1em;
}

.conditions {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}

input[type="checkbox"] {
  float: left;
  margin-top: .4em;
}

input[type="checkbox"]+label {
  display: block;
  margin-left: 1.5em;
}


/*ES Edits*/

.spotlight {
  opacity: 0.45;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.spotlight:hover {
  cursor: pointer;
  opacity: 1.0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.footer-form {
  padding: 0 1em;
  text-align: left;
}

.footer-form input,
.copyright input {
  /*margin-bottom: 1em;*/
}

#large-form {
  border: 1px solid #ef5e4a;
  padding: 1em;
  border-radius: 10px;
}

option[disabled="disabled"] {
  color: #fff;
}

@media screen and (min-width: 1280px) {
  option[disabled="disabled"] {
    color: #ccc;
  }
}

#footer.row {
  margin: 0!important;
}

.footer-faq {
  text-align: left;
}

.youtube-player-wrapper {
  padding: 3em 0;
}

.center {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .youtube-player-wrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 980px) {
  .youtube-player-wrapper {
    max-width: 60%;
  }
}


/* Form validation icons */

.valid-icon:after,
.invalid-icon:after {
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  right: .3em;
  bottom: .4em;
}

.valid-icon:after {
  content: '\f00c'; /* fa-check */
}

.invalid-icon:after {
  content: '\f071'; /* fa-exclamation-triangle */
}

/* Accordion */

.accordion {
  position: relative;
  background-color: #111;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.accordion h4 {
  padding-right: 15px;
}

.accordion.active,
.accordion:hover {
  background-color: #444;
}

.panel {
  padding: 0 18px;
  background-color: #1d242a;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.panel p {
  margin: 1em 0;
}

.accordion:after {
  font-family: FontAwesome;
  content: "\f067"; /* fa-plus */
  font-size: 13px;
  color: #fff;
  float: right;
  position: absolute;
  bottom: 2.5em;
  right: 1em;
}

.accordion.active:after {
  content: "\f068"; /* fa-minus */
}

/* Flex to reverse home-footer.html elements (form and faq) on small screens */

.flex-wrap-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.footer-faq {
  padding: 0 1em 0 1em;
}

@media screen and (min-width: 980px) {
  .footer-faq {
    padding: 0 0 0 1em;
  }
}

/* Multi-select Dropdown */

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0 1em;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 3px;
}

.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: .7em;
  width: 100%;
  min-height: 2.75em;
  background: #ef5e4a;
  cursor: text;
  border: unset;
  border-radius: 3px;
}

.chosen-container .chosen-drop {
  background: #ef5e4a;
}

.chosen-container .chosen-drop li {
  color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  font-size: 13pt;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: initial;
  background-color: initial;
  background-image: initial;
  color: #fff;
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background-image: initial;
  border: initial;
}

.chosen-container .chosen-drop li {
  font-size: 13pt;
  line-height: 1.65em;
  padding-right: 1em;
  padding-left: 1em;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #ed4933;
  background-image: initial;
  color: #fff;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: inherit;
  font-size: 13pt;
  padding: 0 .5em;
}