ol {
  margin-bottom: 1em;
}

#youtube-player {
  position: relative;
  padding-bottom: 52%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

#youtube-player h2 {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#youtube-player p {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#youtube-player img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

#youtube-player .play {
  position: absolute;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 60%;
  margin-left: -36px;
  margin-top: -36px;
  background: url("images/play-button.png") no-repeat;
  background-size: 100%;
  cursor: pointer;
  filter: brightness(75%);
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

#youtube-player .play:hover {
  -webkit-filter: brightness(100%);
}

#youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.form-field {
  display: block;
  margin-bottom: 1em;
}

.conditions {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

input[type="checkbox"] {
  float: left;
  margin-top: .4em;
}

input[type="checkbox"] + label {
  display: block;
  margin-left: 1.5em;
}

/*ES Edits*/
.spotlight {
   opacity: 0.45;
  transition: opacity 0.5s;
}

.spotlight:hover {
  cursor:pointer;
  opacity: 1.0;
  transition: opacity 0.5s;
}
.footer-form {
  padding: 0 1em;
  text-align: left;
}

.footer-form input, .copyright input{
  /*margin-bottom: 1em;*/
}

#large-form {
  border: 1px solid #ef5e4a;
  padding: 1em;
  border-radius: 10px;
}

option[disabled="disabled"] {
  color: white;
}

#footer.row {
  margin: 0!important;
}

.footer-faq {
  text-align: left;
}
.youtube-player-wrapper {
  padding: 3em 0;
}
.center {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .youtube-player-wrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 980px) {
  .youtube-player-wrapper {
    max-width: 60%;
  }
}

/* Form validation icons */

.valid-icon:after {
    content: '\2713';
    font-size: 28px;
    float: right;
    margin-right: 7px;
    margin-top: -38px;
}
.invalid-icon:after {
    content: '\26a0';
    font-size: 28px;
    float: right;
    margin-right: 7px;
    margin-top: -40px;
}

/* Accordion */

.accordion {
  background-color: #111;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion h4 {
  padding-right: 15px;
}

.accordion.active, .accordion:hover {
  background-color: #444;
}

.panel {
  padding: 0 18px;
  background-color: #1d242a;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.panel p {
  margin: 1em 0;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #fff;
  float: right;
  margin-top: -44px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Flex to reverse home-footer.html elements (form and faq) on small screens */

.flex-wrap-reverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

/* Multi-select Dropdown */

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 1px 0;
	padding: 0 1em;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: #fff;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 3px;
}

.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
	width: 100%;
	height: auto;
	background-color: #ef5e4a;
	cursor: text;
	border-radius: 3px;
}