ol {
  margin-bottom: 1em;
}

#youtube-player {
  position: relative;
  padding-bottom: 52%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

#youtube-player h2 {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#youtube-player p {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#youtube-player img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

#youtube-player .play {
  position: absolute;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 75%;
  margin-left: -36px;
  margin-top: -36px;
  background: url("/images/play-button.png") no-repeat;
  background-size: 100%;
  cursor: pointer;
  filter: brightness(75%);
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

#youtube-player .play:hover {
  -webkit-filter: brightness(100%);
}

#youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.form-field {
  display: block;
  margin-bottom: 1em;
}

.conditions {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

input[type="checkbox"] {
  float: left;
  margin-top: .4em;
}

input[type="checkbox"] + label {
  display: block;
  margin-left: 1.5em;
}

/*ES Edits*/

.footer-form {
  padding: 0 1em;
  text-align: left;
}

.footer-form input, .copyright input{
  /*margin-bottom: 1em;*/
}

#large-form {
  border: 1px solid #ef5e4a;
  padding: 1em;
  border-radius: 10px;
}

#footer.row {
  margin: 0!important;
}

.footer-faq {
  text-align: left;
}
.youtube-player-wrapper {
  padding: 3em 0;
}
.center {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .youtube-player-wrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 980px) {
  .youtube-player-wrapper {
    max-width: 60%;
  }
}
