<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="wrapper">
    <div id="page-wrapper" style="background-image: url('{{ site.github.url }}/{{ page.banner }}'); background-attachment: fixed; background-position: center center; background-repeat: no-repeat; background-size: cover; padding-top: 0;">
      {% include header.html %}

      <article id="main" class="inner">
        {{ content }}
      </article>

      {% include home-footer.html%}
    </div>

    {% include scripts.html %}
  </body>
</html>
